
DB_NAME = "inventory_db"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_USER = "username"
DB_PASSWORD = "password"

INVENTORY_TABLE_NAME="inventory"

KAFKA_SERVER = "localhost:9092"

ORDER_PLACE_KAFKA_TOPIC = "order_placed"
ORDER_CANCEL_KAFKA_TOPIC = "order_cancelled"
ORDER_STATUS_UPDATE_KAFKA_TOPIC = "order_status_update"
STOCK_DEFICIENT_ALERT_KAFKA_TOPIC = "stock_deficiency"
NEW_ITEM_ALERT_KAFKA_TOPIC = 'new_item_alert'