DB_NAME = "order_db"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_USER = "username"
DB_PASSWORD = "password"

ORDER_TABLE_NAME = "orders"
ORDER_ITEM_TABLE_NAME = "order_items"

KAFKA_SERVER = "localhost:9092"

ORDER_PLACE_KAFKA_TOPIC = "order_placed"
ORDER_CANCEL_KAFKA_TOPIC = "order_cancelled"
ORDER_STATUS_UPDATE_KAFKA_TOPIC = "order_status_update"
NEW_ITEM_ALERT_KAFKA_TOPIC = 'new_item_alert'

REDIS_HOST = "localhost"
REDIS_PORT = "6379"

INVENTORY_REDIS_KEY = "inventory_item"

INVENTORY_SERVICE_URL = "http://localhost:8005"